/*
*  00000000  000  000   000  00000000  0000000  
*  000       000   000 000   000       000   000
*  000000    000    00000    0000000   000   000
*  000       000   000 000   000       000   000
*  000       000  000   000  00000000  0000000  
*/

drag()
    -webkit-app-region  drag
nodrag()
    -webkit-app-region  no-drag

input-transition()
    -webkit-transition all 0.4s ease-in-out
ghost-transition()
    -webkit-transition: all 0.8s ease-in-out    
fast-transition()
    -webkit-transition: all 0.2s ease-in-out
bubble-transition()
    -webkit-transition:  all 0.5s ease-in-out    
no-transition()
    -webkit-transition: none

body
    margin              0px
    height              100%
    overflow            hidden
    drag()
    -webkit-user-select none

input 
    outline             none
    &:enabled
        cursor          pointer
        
a
    text-decoration     none

.no-pointer
    pointer-events      none

.main-input
    input-transition()
    nodrag()
    font-size           24px
    padding-left        6px
    width               100%
    box-sizing          border-box
    text-align          center

.ghost
    ghost-transition()
    pointer-events: none
    position:       absolute
    left:           0
    right:          0
    text-align:     left
    font-size:      24px
    top:            12px
    padding-left:   20px
    
#lock
#password-ghost
    fast-transition()
    
.lock    
#lock
    top:            14px
    opacity:        0    
    &.closed
    &.open
        opacity:    1

.bool    
    top:            14px
    opacity:        0    
    &.bool-true
    &.bool-false
        opacity:    1
        opacity:    1

#floppy
    font-size:      19px
    top:            15px
    text-align:     right
    padding-right:  20px
    
.border
    input-transition()
    position:      relative
    padding:       10px
    border-radius: 10px
    margin-left:   12px
    margin-right:  12px

#password-border
#master-border
#site-border
    margin-bottom: 12px

#sheep
    nodrag()
    -webkit-transition box-shadow 0.1s ease-in-out
    margin          12px
    width           340px
    height          260px
    background-size cover
    border          none

#bubble
    bubble-transition()
    nodrag()
    position:       absolute
    top:            170px    
    right:          27px
    &.ask
    &.say
        pointer-events: all
        left:           27px
        opacity:        1
    &.whisper
        pointer-events: all
        left:           157px
        opacity:        1 
    &.silent
        pointer-events: none
        left:           217px
        opacity:        0

#say-tri
    bubble-transition()
    position:      absolute
    width:         0
    height:        0
    right:         33px

#say
    bubble-transition()
    position:         absolute
    top:              20px
    left:             0
    right:            0
    height:           45px
    border-radius:    20px
    padding:          6px
    padding-top:      12px
    padding-left:     18px
    padding-right:    18px
    
#bubble.whisper #say    
    height:           21px
    padding-left:     8px
    padding-right:    8px
    
#bubble.silent #say    
    font-size:        1px
    height:           8px
    padding-left:     0px
    padding-right:    0px
    
.open:hover
    cursor: pointer

#settings
    position: absolute
    left: 0
    right: 0

#button-list
    margin-top    12px
    margin-left   12px
    margin-right  12px
    margin-right  12px

.button
    nodrag()
    -webkit-transition-property: box-shadow, border  
    -webkit-transition-duration: 0.4s
    -webkit-transition-timing-function: ease-in-out
    box-sizing:       border-box
    position:         static
    height:           35px
    width:            35px

.button-border
    drag()
    input-transition()
    pointer-events:       all
    display:              inline-block
    position:             relative
    padding:              10px
    margin:               0px
    margin-right:         8px

#delete-border
    margin-right:  0px

.button-icon
    pointer-events: none
    position:       absolute
    left:           21px
    top:            19px

#preferences
#stashlist
    position:       absolute
    padding-top:    10px
    padding-bottom: 10px
    padding-left:   0
    padding-right:  0
    top:            0
    left:           0
    right:          0
    bottom:         0
    overflow:       auto

.pref-item-border
.stash-item-border
    no-transition()
    padding:  5px
    
    & .pref    
    & .site
    & .lock    
    & .pattern
        position:       absolute
        pointer-events: none
        top:            7px
        
    & .pref        
        left:      10px
    & .site
        left:      10px
    & .lock
        left:      0
        right:     0
        text-align: center
        
    & .bool
        position:       absolute
        pointer-events: none
        top:            7px
        left:           90%
        
    & .pattern
        left:      60%
        
.pref-item
.stash-item
    width:         100%
    height:        24px
            
#about

    text-align:    center

    & h1
        nodrag()
        margin-bottom: 9px
        &:hover 
            cursor: pointer
    & .link
        nodrag()
        &:hover 
            cursor: pointer

#about-github
    nodrag()
    margin-top:     30px
    margin-bottom:  40px    
    pointer-events: all
    &:hover
        cursor:     pointer

.github-svg
    nodrag()
        
