
clr                  = {} 
clr.black            = #000000
clr.gray-most-dark   = #181818
clr.gray-very-dark   = #282828
clr.gray-dark        = #333333
clr.gray-medium      = #555555
clr.gray             = #888888
clr.gray-bright      = #cccccc
clr.gray-very-bright = #dddddd
clr.white            = #ffffff
clr.yellow-bright    = #ffff88
clr.yellow           = #ffff00
clr.orange-bright    = #ffaa00
clr.orange           = #ff8800
clr.red              = #ff0000
clr.green-bright     = #00ff00
clr.green            = #00aa00
clr.green-dark       = #006600
clr.blue-dark        = #2222aa
clr.blue             = #4444ff
clr.blue-medium      = #6666ff
clr.blue-bright      = #8888ff
clr.blue-very-bright = #aaaaff

clr.background = #fafafa

body
    font-family       Verdana
    background-color: clr.background

/*
*   0000000  000   000  00000000  00000000  00000000 
*  000       000   000  000       000       000   000
*  0000000   000000000  0000000   0000000   00000000 
*       000  000   000  000       000       000      
*  0000000   000   000  00000000  00000000  000      
*/

#sheep
    box-shadow:    inset 1px 1px 15px rgba(0, 0, 0, 0.5)
    &:focus
        box-shadow:      2px 2px 11px rgba(0, 0, 0, 0.5)
        border: 1px solid clr.gray
    &:active
        box-shadow:      0px 0px  1px rgba(0, 0, 0, 0.1)
        border: 1px solid clr.gray-most-dark
    border-radius: 12px        
    background url(../img/sheep-bright.png) no-repeat
    
